<header class="relative w-screen h-20 bg-zinc-600">
	<nav class="flex items-center justify-between w-full h-full px-4 sm:px-8">
		<a [routerLink]="['/']" class="relative w-48">
			<h1
				class="flex items-center justify-center w-full text-3xl rounded-full bg-black/10 h-14"
			>
				Apple Store
			</h1>
		</a>

		<a
			routerLink="/cart"
			class="flex items-center w-40 text-black bg-white border rounded-full h-14 justify-evenly"
		>
			<i class="material-icons">shopping_cart</i>
			Checkout
		</a>
	</nav>
</header>
